@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Dark Mode Css */
body {
  background-color: #0d1117;
  color: #c9d1d9;
  border-color: #30363d;
}
button {
  background: #238636;
}

/* Light Mode css */

body.light {
  background-color: #ffffff;
  color: #24292e;
  border-color: #d0d7de;
}
body.light button {
  background: #0366d6;
}

h1 {
   font-family: "Montserrat", sans-serif;
}
